/********* VALORES GLOBAIS *********/

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

*::selection{
    background-color: #655bcf;
}

html{
    scroll-behavior: smooth;
    scrollbar-color: rgb(159, 123, 255) rgb(0, 0, 0);
}

body{
    margin: 0;
    background: url(/fisica_computacional/assets/page_bg.png) center/cover no-repeat fixed;
    color: white;
    font-family: 'Red Hat Display', 'Inter', 'DM Sans', 'Arial', 'sans-serif';
}

/********* BARRA DE NAVEGAÇÃO *********/

nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

nav img{
    box-shadow: 0px 0px 17px #88efff;
    border-radius: 50%;
    border: none;
    width: 60px;
    animation: rodar 3s linear infinite;
}

nav .muvs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

nav #muv{
    color: white;
    transition: color .3s ease-out, text-shadow .3s ease-out;
}

nav #muv:hover{
    text-shadow: 0px 0px 5px white;
    color: rgb(104, 245, 255);
}

/********* TÍTULO E SUBTÍTULO *********/

.hero-title{
    margin-top: 30px;
    color: white;
    font-size: 4.4em;
    font-family: 'Red Hat Display';
    font-weight: black;
    text-align: center;
    letter-spacing: 2px;
}

.queda-title, .lanc-hz-title, .lanc-vtc-title{
    margin: 20px auto;
    font-size: 1.65em;
    padding: 5px 20px;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.705);
    max-width: fit-content;
}

/********* QUESTÕES *********/

.campoPergunta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    font-size: 1.1em;
    font-family: "DM Sans";
}

#perguntaEl{
    display: none;
}

#perguntaEl.displaying{
    padding: 20px;
    display: block;
    animation: questaoAparecer 2.6s ease forwards;
}

#proxBtn{
    margin-top: 30px;
    padding: 15px 25px; 
    border: none;
    border-radius: 999px;
    font-weight: bold;
    font-family: 'Inter';
    font-size: 0.9em;
    background-image: linear-gradient(90deg, #7468ff, #de48fc);    
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#proxBtn:hover{
    background-image: linear-gradient(90deg, #362f83, #681c77);
}

.fa-solid.fa-atom{
    color: rgb(181, 240, 255);
    animation: rodar 5s linear infinite;
}

/********* CÁLCULOS/RESULTADOS *********/

.estatisticas{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 80px auto 10px auto;
    padding: 40px 20px;
    border-radius: 20px;
    background-color: rgba(99, 114, 124, 0.226);
    max-width: fit-content;
}

.propriedades{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: fit-content;
}

.propriedades input{
    outline: none;
    padding: 5px;
    border: none;
    border-radius: 2px;
    font-size: 0.95em;
}

#unidadeMedida{
    outline: none;
    height: 28px;
    background-image: linear-gradient(rgb(200, 157, 255), rgb(240, 188, 228));
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgb(229, 164, 255);
    font-weight: bold;
    font-family: 'Inter';
}

.resultados{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#tempoDeQueda, #alcanceHz, #alcanceVtc, #veloFinal, #veloHz, #veloVtc{
    font-size: 1.35em;
}

#tempoDeQueda{
    color: rgb(0, 224, 11);
}

#alcanceHz, #alcanceVtc{
    color: rgb(252, 227, 2);
}

#veloFinal{
    color: rgb(255, 0, 0);
}

.extraOpts{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.356);
    border-radius: 20px;
    text-align: center;
    padding: 25px;
}

.opcao h2{
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 3px;
    background-color: #655BCF;
}

#botaoCalcular{
    display: block;
    margin: 10px auto 60px auto;
    padding: 10px 22px;
    border: none;
    border-radius: 3px;
    font-size: 0.95em;
    font-weight: bold;
    font-family: 'DM Sans';
    background-image: linear-gradient(90deg, rgb(238, 10, 10), #d46000);
    color: white;
    cursor: pointer;
}

#botaoCalcular:hover{
    background-image: linear-gradient(90deg, rgb(253, 96, 96), #ffa357);
}

.aviso{
    padding: 3px;
    text-align: center;
    color: rgba(255, 255, 255, 0.801);
    margin: 30px;
}

/********* RESPONSIVIDADE *********/

@media screen and (max-width: 768px){

    nav{
        flex-direction: column;
    }

    nav img{
        display: block;
        margin: 15px auto 45px auto;
    }

    nav .muvs{
        flex-direction: column;
        gap: 10px;
    }

    .hero-title{
        margin-top: 20px;
        font-size: 3em;
    }

    .queda-title, .lanc-hz-title, .lanc-vtc-title{
        font-size: 1.3em;
    }

    #perguntaEl{
        width: 450px;
    }

    #proxBtn{
        font-size: 0.7em;
    }

}

@media screen and (max-width: 601px){

    .hero-title{
        margin-top: 20px;
        font-size: 2.3em;
    }

    .queda-title, .lanc-hz-title, .lanc-vtc-title{
        font-size: 1.15em;
    }

    #perguntaEl{
        width: 370px;
    }

    #proxBtn{
        font-size: 0.65em;
    }

    .estatisticas{
        font-size: 0.85em;
        flex-direction: column;
    }

}

@media screen and (max-width: 371px){

    #perguntaEl{
        width: 315px;
    }

}

/********* ANIMAÇÕES *********/

@keyframes rodar{
    to{
        transform: rotate(360deg);
    }
}

@keyframes questaoAparecer{
    from{
        transform: translateX(-400%);
    }
}